beanie==2.0.0
fastapi==0.117.1
httpx==0.28.1
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.76
langchain-groq==0.3.8
langchain-ollama==0.3.8
motor==3.7.1
pandas==2.3.2
PuLP==3.3.0
pydantic==2.11.9
pydantic-settings==2.11.0
PyJWT==2.10.1
SQLAlchemy==2.0.43
streamlit==1.50.0
uvicorn[standard]==0.24.0
python-multipart==0.0.6