fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv
python-multipart

requests
httpx
anyio

# Clerk auth backend
clerk-backend-api
PyJWT
cryptography
email-validator

# LangChain + Groq
langchain
langchain-core
langchain-groq
langchain-text-splitters
langsmith
lazy-model
groq
deep-translator
langdetect

# MongoDB / Beanie
beanie
motor
pymongo
dnspython

# PDF + data
pdfplumber
pdfminer.six
numpy
pandas

# FastAPI internals
starlette
orjson